/* ===== Base ===== */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #da5604, #671d00);
  margin: 0;
  padding: 40px;
  color: #fff;
}

/* ===== Heading ===== */
h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #f9c389;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.911);
}

.sub-heading {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
  color: #d1e4ff;
}

/* ===== Layout: form left + table right ===== */
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

/* ===== Form Container ===== */
.form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 20px 18px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  w
}